<div class="col-md-6" style="margin-left:0%">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Troca de Senha</h3>
       
      </div>
      <form class="form-horizontal" #form="ngForm" (ngSubmit)="changepassword()" >
        <div [ngClass]="classCss" role="alert" *ngIf="message">
          <strong>{{ message.text }}</strong>
        </div>

        <div class="box-body">



            <div [ngClass]="getFormGroupClass(matricula.invalid,matricula.dirty)">
              <label for="inputMatricula" class="col-sm-2 control-label">Matrícula</label>
              <div class="col-sm-10">
                <input type="text" 
                        [(ngModel)]="user.matricula"
                        name="matricula"
                        class="form-control" 
                        id="inputMatricula" 
                        #matricula="ngModel"
                        placeholder="Matricula"
                        matricula
                        Readonly>
                <span class="help-block" *ngIf="matricula.invalid  && matricula.dirty">Matrícula solicitada </span>
              </div>
            </div>


            <div [ngClass]="getFormGroupClass(nome.invalid,nome.dirty)">
                <label for="inputNome" class="col-sm-2 control-label">Nome</label>
                <div class="col-sm-10">
                  <input type="text" 
                          [(ngModel)]="user.nome"
                          name="nome"
                          class="form-control" 
                          id="inputNome" 
                          #nome="ngModel"
                          placeholder="Nome"
                          nome
                          Readonly>
                  <span class="help-block" *ngIf="nome.invalid  && nome.dirty">Nome solicitado </span>
                </div>
              </div>
      
             
      
             
      
             
              <div [ngClass]="getFormGroupClass(coordenacao.invalid,coordenacao.dirty)">
                  <label for="inputCoordenacao" class="col-sm-2 control-label">Coordenação</label>
                  <div class="col-sm-10">
                      <input type="text" 
                      [(ngModel)]="user.coordenacao"
                      name="coordenacao"
                      class="form-control" 
                      id="inputCoordenacao" 
                      #coordenacao="ngModel"
                      coordenacao
                      Readonly>
                    <span class="help-block" *ngIf="coordenacao.invalid && coordenacao.dirty">Coordenação solicitado</span>
                  </div>
                </div>
      
      
      
              <div [ngClass]="getFormGroupClass(profile.invalid,profile.dirty)">
                <label for="inputProfile" class="col-sm-2 control-label">Profile</label>
                <div class="col-sm-10">
                    <input type="text" 
                    [(ngModel)]="user.profile"
                    name="profile"
                    class="form-control" 
                    id="inputProfile" 
                    #profile="ngModel"
                    profile
                    Readonly>
                  <span class="help-block" *ngIf="profile.invalid && profile.dirty">Profile solicitado</span>
                </div>
              </div>


              <br />

              <div [ngClass]="getFormGroupClass(password.invalid,password.dirty)">
                  <label for="inputPassword" class="col-sm-2 control-label">Senha</label>
                  <div class="col-sm-10">
                    <input type="password" 
                            [(ngModel)]="user.password"
                            name="password" 
                            class="form-control" 
                            id="inputPassword" 
                            placeholder="Senha"
                            #password="ngModel" 
                            required>
                    <span class="help-block" *ngIf="password.invalid && password.dirty">Senha solicitada</span>
                  </div>
                </div>

               <div [ngClass]="getFormGroupClass(passwordnew.invalid,passwordnew.dirty)">
                    <label for="inputPasswordnew" class="col-sm-2 control-label">Nova Senha</label>
                    <div class="col-sm-10">
                      <input type="password" 
                              [(ngModel)]="user2.password"
                              name="passwordnew" 
                              class="form-control" 
                              id="inputPasswordnew" 
                              placeholder="Nova senha"
                              #passwordnew="ngModel" 
                              required>
                      <span class="help-block" *ngIf="passwordnew.invalid && passwordnew.dirty">Nova Senha solicitada</span>
                    </div>
                  </div> 
        </div>




       
        <div class="box-footer">
          <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Enviar</button>
        </div>
      </form>

     
    </div>
    </div>